* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #000000;
    color: #f1f1f1;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

/* nav bar */
ul {
    list-style-type: none;
    overflow: visible;
    background-color: #5d593b;
    display: flex;
    margin: auto;
    border-radius: 25px;
    padding: 10px;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 25px;
}

ul li a:hover {
    background-color: #857f54;
}

/* dropdown */
.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 25px;
    cursor: pointer;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #5d593b;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 15px;
    border-radius: 25px;
    padding: 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 15px;
}

.dropdown-content a:hover {
    background-color: #857f54;
}



.center {
    display: block;
    margin: 20px auto;
    width: 50%;
}

button {
    border: none;
    color: black;
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e7e7e7;
}

#spnIntro {
    transition: transform 0.3s ease;
}

#spnIntro:hover {
    transform: scale(1.1);
}

.container {
    display: flex;
}

.winchesters {
    flex: 0 0 30%;
    margin-right: 20px;
}
.dean,
.sam {
    display: flex;
}
.deaninfo {
    flex: 0 0 30%;
    margin-right: 20px;
}